/* white */
$kun-color-base-white-100: #ffffff;

/* dark */
$kun-color-base-dark-3: #f7f7f8;
$kun-color-base-dark-6: #e9edef;
$kun-color-base-dark-10: #dee1e3;
$kun-color-base-dark-20: #caccce;
$kun-color-base-dark-30: #b0b2b5;
$kun-color-base-dark-40: #96989b;
$kun-color-base-dark-50: #7d7f82;
$kun-color-base-dark-60: #646568;
$kun-color-base-dark-70: #4a4c4f;
$kun-color-base-dark-80: #333538;
$kun-color-base-dark-90: #1B1C20;
$kun-color-base-dark-100: #020207;

/* yellow */
$kun-color-base-yellow-3: #fffaf4;
$kun-color-base-yellow-6: #fff8ed;
$kun-color-base-yellow-10: #fff6e5;
$kun-color-base-yellow-20: #fff0ce;
$kun-color-base-yellow-30: #ffeab7;
$kun-color-base-yellow-40: #ffe4a0;
$kun-color-base-yellow-50: #ffdd89;
$kun-color-base-yellow-60: #ffd873;
$kun-color-base-yellow-70: #ffd25c;
$kun-color-base-yellow-80: #feca14;
$kun-color-base-yellow-90: #ffc62e;
$kun-color-base-yellow-100: #ffc217;
$kun-color-base-yellow-110: #e6ad16;
$kun-color-base-yellow-120: #ce9914;

/* coral */
$kun-color-base-coral-3: #fef3f3;
$kun-color-base-coral-6: #feefed;
$kun-color-base-coral-10: #fee9e5;
$kun-color-base-coral-20: #fed9d3;
$kun-color-base-coral-30: #fecabf;
$kun-color-base-coral-40: #febaad;
$kun-color-base-coral-50: #feab99;
$kun-color-base-coral-60: #fe9c86;
$kun-color-base-coral-70: #fe8d74;
$kun-color-base-coral-80: #fe7d60;
$kun-color-base-coral-90: #ff734d;
$kun-color-base-coral-100: #ff603b;
$kun-color-base-coral-110: #e65435;
$kun-color-base-coral-120: #cd4a2f;


/* darkblue */
$kun-color-base-darkblue-3: #f8f9fa;
$kun-color-base-darkblue-6: #f1f2f6;
$kun-color-base-darkblue-10: #e7eaf0;
$kun-color-base-darkblue-20: #cfd5e1;
$kun-color-base-darkblue-30: #b7bfd2;
$kun-color-base-darkblue-40: #9faac3;
$kun-color-base-darkblue-50: #8795b4;
$kun-color-base-darkblue-60: #7080a5;
$kun-color-base-darkblue-70: #586b96;
$kun-color-base-darkblue-80: #405587;
$kun-color-base-darkblue-90: #284078;
$kun-color-base-darkblue-100: #102b69;
$kun-color-base-darkblue-110: #0f275f;
$kun-color-base-darkblue-120: #0d2355;

/* pink */
$kun-color-base-pink-3: #fef9fa;
$kun-color-base-pink-6: #fdf8f8;
$kun-color-base-pink-10: #fdf6f7;
$kun-color-base-pink-20: #fcf1f2;
$kun-color-base-pink-30: #fbebee;
$kun-color-base-pink-40: #fae6e9;
$kun-color-base-pink-50: #f8e1e5;
$kun-color-base-pink-60: #f7dce1;
$kun-color-base-pink-70: #f6d7dc;
$kun-color-base-pink-80: #f5d1d8;
$kun-color-base-pink-90: #f4ccd3;
$kun-color-base-pink-100: #f4cbd3;
$kun-color-base-pink-110: #dcb4bb;
$kun-color-base-pink-120: #c49da4;

/* blue */
$kun-color-base-blue-3: #f9fafe;
$kun-color-base-blue-6: #f3f4fd;
$kun-color-base-blue-10: #ecedfc;
$kun-color-base-blue-20: #d8dcf9;
$kun-color-base-blue-30: #c5caf7;
$kun-color-base-blue-40: #b1b8f4;
$kun-color-base-blue-50: #9da6f1;
$kun-color-base-blue-60: #8a95ee;
$kun-color-base-blue-70: #7783eb;
$kun-color-base-blue-80: #6371e9;
$kun-color-base-blue-90: #5060e6;
$kun-color-base-blue-100: #3c4ee3;
$kun-color-base-blue-110: #3646cc;
$kun-color-base-blue-120: #303eb6;


/* green */
$kun-color-base-green-3: #f8fdfb;
$kun-color-base-green-6: #f1faf7;
$kun-color-base-green-10: #e7f7f1;
$kun-color-base-green-20: #cff0e4;
$kun-color-base-green-30: #b7e8d6;
$kun-color-base-green-40: #9fe1c9;
$kun-color-base-green-50: #87d9bb;
$kun-color-base-green-60: #6cd0ab;
$kun-color-base-green-70: #51c89c;
$kun-color-base-green-80: #3bba8b;
$kun-color-base-green-90: #22a575;
$kun-color-base-green-100: #0c9261;
$kun-color-base-green-110: #0b7f54;
$kun-color-base-green-120: #09714b;

/* red */
$kun-color-base-red-3: #fef8f9;
$kun-color-base-red-6: #fdf2f2;
$kun-color-base-red-10: #fbe9ea;
$kun-color-base-red-20: #f8d2d4;
$kun-color-base-red-30: #f4bcbf;
$kun-color-base-red-40: #f0a5a9;
$kun-color-base-red-50: #ec8e93;
$kun-color-base-red-60: #e9787e;
$kun-color-base-red-70: #e56269;
$kun-color-base-red-80: #e14b53;
$kun-color-base-red-90: #de353e;
$kun-color-base-red-100: #da1e28;
$kun-color-base-red-110: #c41b24;
$kun-color-base-red-120: #ae1820;

/* brown */
$kun-color-base-brown-120: #2b1108;
$kun-color-base-brown-110: #41190b;
$kun-color-base-brown-100: #57210f;
$kun-color-base-brown-90: #823b17;
$kun-color-base-brown-80: #a94c1e;
$kun-color-base-brown-70: #d06625;
$kun-color-base-brown-60: #dc7c38;
$kun-color-base-brown-50: #e08d52;
$kun-color-base-brown-40: #e6a475;
$kun-color-base-brown-30: #ebba8e;
$kun-color-base-brown-20: #f0cca8;
$kun-color-base-brown-10: #f7e5d4;
$kun-color-base-brown-6: #faf1e5;
$kun-color-base-brown-3: #fdfaf6;


/* Background */
$kun-color-bg-white: $kun-color-base-white-100;
$kun-color-bg-soft: $kun-color-base-dark-3;
$kun-color-bg-medium: $kun-color-base-dark-6;
$kun-color-bg-strong: $kun-color-base-dark-10;
$kun-color-bg-hover: $kun-color-base-blue-6;
$kun-color-bg-info: $kun-color-base-dark-3;
$kun-color-bg-info-strong: $kun-color-base-dark-60;
$kun-color-bg-warning: $kun-color-base-yellow-10;
$kun-color-bg-warning-strong: $kun-color-base-yellow-100;
$kun-color-bg-success: $kun-color-base-green-6;
$kun-color-bg-success-strong: $kun-color-base-green-110;
$kun-color-bg-error: $kun-color-base-red-6;
$kun-color-bg-error-strong: $kun-color-base-red-100;
$kun-color-bg-backdrop: rgba($kun-color-base-dark-100, 0.6);
$kun-color-bg-ai: linear-gradient(45deg, $kun-color-base-darkblue-100 0%, $kun-color-base-blue-100 100%);

/* Border */
$kun-color-border-soft: $kun-color-base-dark-6;
$kun-color-border-medium: $kun-color-base-dark-20;
$kun-color-border-active: $kun-color-base-dark-100;
$kun-color-border-info: $kun-color-base-dark-10;
$kun-color-border-warning: $kun-color-base-yellow-30;
$kun-color-border-success: $kun-color-base-green-20;
$kun-color-border-error: $kun-color-base-red-100;
$kun-color-border-error-soft: $kun-color-base-red-20;
$kun-color-border-ai: linear-gradient(135deg, $kun-color-base-blue-100 0%, $kun-color-base-coral-90 50%, $kun-color-base-yellow-80 100%);

/* Brand */
$kun-color-brand-turboyellow: $kun-color-base-yellow-80;
$kun-color-brand-coral: $kun-color-base-coral-90;
$kun-color-brand-sapphireblue: $kun-color-base-darkblue-100;
$kun-color-brand-wepeep: $kun-color-base-pink-100;
$kun-color-brand-porcelain: $kun-color-base-dark-6;
$kun-color-brand-black: $kun-color-base-dark-100;

/* Divider */
$kun-color-divider-light: rgba($kun-color-base-dark-100, 0.1);
$kun-color-divider-dark: rgba($kun-color-base-dark-3, 0.3);

/* Illustrations */
$kun-color-illu-shine: $kun-color-base-white-100;
$kun-color-illu-yellow-accent: $kun-color-base-yellow-80;
$kun-color-illu-yellow-medium: $kun-color-base-yellow-40;
$kun-color-illu-coral-accent: $kun-color-base-coral-90;
$kun-color-illu-pink-accent: $kun-color-base-pink-100;
$kun-color-illu-blue-accent: $kun-color-base-blue-100;
$kun-color-illu-blue-soft: $kun-color-base-blue-20;
$kun-color-illu-blue-medium: $kun-color-base-blue-40;
$kun-color-illu-blue-strong: $kun-color-base-blue-70;
$kun-color-illu-darkblue-accent: $kun-color-base-darkblue-100;
$kun-color-illu-dark-accent: $kun-color-base-dark-100;
$kun-color-illu-dark-soft: $kun-color-base-dark-10;
$kun-color-illu-outline: $kun-color-base-darkblue-100;
$kun-color-illu-skin-fair: $kun-color-base-brown-10;
$kun-color-illu-skin-tan: $kun-color-base-brown-20;
$kun-color-illu-skin-caramel: $kun-color-base-brown-50;
$kun-color-illu-skin-espresso: $kun-color-base-brown-90;
$kun-color-illu-empty-outline: $kun-color-base-dark-100;
$kun-color-illu-empty-soft: $kun-color-base-dark-3;
$kun-color-illu-empty-medium: $kun-color-base-dark-10;
$kun-color-illu-empty-strong: $kun-color-base-dark-20;
$kun-color-illu-empty-accent: $kun-color-base-coral-80;

/* Text */
$kun-color-text-title: $kun-color-base-dark-90;
$kun-color-text-primary: $kun-color-base-dark-80;
$kun-color-text-secondary: $kun-color-base-dark-70;
$kun-color-text-tertiary: $kun-color-base-dark-60;
$kun-color-text-inactive: $kun-color-base-dark-30;
$kun-color-text-ondark: $kun-color-base-white-100;
$kun-color-text-link: $kun-color-base-blue-100;
$kun-color-text-link-hover: $kun-color-base-blue-120;
$kun-color-text-success: $kun-color-base-green-110;
$kun-color-text-error: $kun-color-base-red-110;

/* spacings */
$kun-spacing-4xs: 2px;
$kun-spacing-3xs: 4px;
$kun-spacing-2xs: 8px;
$kun-spacing-xs: 12px;
$kun-spacing-s: 16px;
$kun-spacing-m: 24px;
$kun-spacing-l: 32px;
$kun-spacing-xl: 40px;
$kun-spacing-2xl: 48px;
$kun-spacing-3xl: 64px;
$kun-spacing-4xl: 96px;

/* breakpoints */
$kun-media-2xs-mobile: 360px;
$kun-media-xs-mobile: 480px;
$kun-media-s-tablet: 768px;
$kun-media-m-tablet: 992px;
$kun-media-l-desktop: 1024px;
$kun-media-xl-desktop: 1280px;
$kun-media-2xl-desktop: 1920px;
